@font-face {
    font-family: 'leto_slab_condensedbold';
    src: url('css/fonts/letoslabcondensed-bold-webfont.woff2') format('woff2'),
         url('css/fonts/letoslabcondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'leto_slab_condensedregular';
    src: url('css/fonts/letoslabcondensed-regular-webfont.woff2') format('woff2'),
         url('css/fonts/letoslabcondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');



/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
  -webkit-transition: 0.9s ease-in-out left;
transition: 0.9s ease-in-out left;
-webkit-transition: 0.9s, ease-in-out, left;
-moz-transition: .9s, ease-in-out, left;
-o-transition: .9s, ease-in-out, left;
transition: .9s, ease-in-out, left;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 33px;
}
.marketing h2 {
  font-weight: normal;
 color: rgba(199, 19, 93, 1);
 font-family: 'leto_slab_condensedregular';
}
.marketing .col-lg-4 p {
margin-right: 20px;
margin-left: 20px;
  font-family: 'Gentium Book Basic', serif;
  font-size: 16px;
  color: #000;
 text-align: justify;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
    color: #3c76b4;
    text-shadow: 0 1px 2px rgba(60, 118, 176, 0.05);
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(252, 228, 224, 0.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(252, 228, 224, 0.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(252, 228, 224, 0.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(252, 228, 224, 0.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
    }

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(252, 228, 224, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
  }

  .navbar-inverse {
       background-color: rgb(245, 245, 245)!important;
    border-color: #f2dede;
    background-image: linear-gradient( 45deg, rgba(252, 228, 224, 1), rgb(255, 255, 255) );
    box-shadow: 0 1px 2px rgb(214, 172, 167);
  }

  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(240, 135, 170, 1);
        color: #fff;
    background-color: rgba(240, 135, 170, 1);
    font-weight: 700;
    font-size: 16px;
    font-family: 'leto_slab_condensedbold';
}

.navbar-inverse .navbar-nav>li>a {
    color: #f05b89;
    font-family: 'leto_slab_condensedbold';
}

@media (min-width: 768px){
.navbar-nav {
    float: right;
    margin: 0;
}
}

.nav-top {
      margin-top: -30px;
}


.carousel-inner > .item > .otra > img {
    position: absolute;
     bottom: 0;
    right: 0;
}

.carousel-inner > .item > .tresa > img {
    position: absolute;
     bottom: 0;
    left: 0;
}

.carousel-inner > .item > .cetri > img {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*Pogas*/

.btn-primary {
    color: #fff;
    background-color: #fce0dc;
    border-color: #e0bfba;
  }

.btn-primary:hover {
    color: #fff;
    background-color: rgba(251, 221, 218, 0.52);
    border-color: #fbddd9;
  }

.akcija-heading {
    position: relative;
    width: 100%;
}

.akcija-heading > h1 {
        text-align: -webkit-center;
        color: #f087aa;
        font-size: 51px;
        font-family: 'Gentium Book Basic', serif;
}

.anesa {
    right: 0;
    position: absolute;
    bottom: 0;
}

.lapa {
    left: 0;
    position: absolute;
    bottom: 0;
    margin-left:150px;
    margin-bottom:150px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
     -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
     -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.carousel-fade .carousel-control {
  z-index: 2;
     -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left; 
}

.makeup {
  margin-right:100px;
    right: 0;
    position: absolute;
    bottom: 0;
}

@media (min-width: 1200px)
  {
.container {
    width: 100%;
  }
}

@media (min-width: 992px)

{.container {
    width: 100%;
}
}


@media (min-width: 768px)
{.container {
    width: 100%;
}}

.carousel-caption {
    position: absolute;
    right: 25%;
    bottom: 20px;
    left: 25%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #3c76b4;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }

    .second-slide {
      background-color: #ccc;
    }

    .backbox {
  font-family: "Josefin Slab";
  font-size: 3rem;
 
  text-align: center;
  padding: 0.0625rem;
  position: relative;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.3)), color-stop(60%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgb(251, 220, 217) 40%, rgb(251, 219, 215) 60%, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgb(251, 220, 217) 40%, rgb(251, 219, 215) 60%, rgba(255, 255, 255, 0));
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(251, 220, 217) 40%, rgb(251, 219, 215) 60%, rgba(255, 255, 255, 0));
}
.backbox:before {
  width: 100%;
  height: 0.125rem;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.8)), color-stop(60%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
}
.backbox:after {
  width: 100%;
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.8)), color-stop(60%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
}

.products-images{
  display: inline;
}

.product-logo1 {
    position: relative;
    margin-left: 30%;
    margin-top: 100px;
}

.product-logo2 {
    position: relative;
    margin-left: 50px;
    margin-top: 100px;
}

.product-logo3 {
    position: relative;
    margin-left: 35%;
    margin-top: 40px;
}

.product-logo4 {
    position: relative;
    margin-left: 35%;
    margin-top: 40px;
}

.product-logo5 {
    position: relative;
    margin-left: 40px;
}

.product-logo6 {
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
}

.product-logo7 {
    position: relative;
    margin-left: 50px;
    margin-top: 10px;
}

.ico-border {
    display: inline-block;
    position: relative;
    width: 124px;
}

.ico-border .ico-bg {
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    margin: 0 auto;
    position: relative;
    width: 20px;
}

.ico-border .ico-bg.flower {
    background-image: url(images/ico-flower.png);
}

.linija {
      margin-left: auto;
    margin-right: auto;
    display: block;
}

#map {
        width: 500px;
        height: 500px;
        background-color: grey;
        box-shadow: 0 1px 2px rgba(25,25,25,0.2);
      }

span {
      font-weight: 700;
}

@media (min-width: 768px)
 {
.lead {
    font-size: 23px;
    font-family: 'Gentium Book Basic', serif;
 }
  }

  .lead {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
     font-family: 'Gentium Book Basic', serif;
}

.img-circle {
   border-radius: 50%; 
   -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

}

.img-circle:hover {

  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*Grid System*/

.list li {
  background: url("https://bradfrost.github.com/this-is-responsive/patterns/images/icon_arrow_right.png") no-repeat 97% 50%;
  border-bottom: 1px solid rgba(240, 135, 170, 0.48);
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}
.li-head {
 margin: 0;
    top: 0;
    margin-top: 0px;
    font-weight: normal;
    color: rgba(199, 19, 93, 1);
    font-family: 'leto_slab_condensedregular';
    font-weight: 600;
}
}
.li-sub {
  margin: 0;
  font-family: 'Gentium Book Basic', serif;
  font-size: 16px;
}

@media all and (min-width: 45em) {
  .list li {
    float: left;
    width: 50%;
  }
}

@media all and (min-width: 75em) {
  .list li {
    width: 33.33333%;
  }
}


.carousel-pakalpojumi {
    height: 300px;
    position: relative;
  background-image: url(images/bg1.jpg);
}

.feather2 {
    position: absolute;
    margin-left: 30%;
    margin-top: 100px;
}

.btn-info {
    color: #fff;
    background-color: #fbdad7;
    border-color: #d8bbb9;
}

.btn-info:hover {
    color: #fff;
    background-color: rgb(234, 186, 182);
    border-color: #d29c97;
  }

  .btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #f087aa;
    border-color: #c77490;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 3px 5px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-group-lg>.btn, .btn-lg2 {
          width: 36px;
    height: 36px;
    float: right;
    margin-right: 20px;
    border-radius: 20px;
    background-image: url(images/cena3.png);
    background-size: 34px 34px;
    background-repeat: no-repeat;
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #ab5f78;
    border-color: #a04966;
}


.half {
    float: left;
    width: 550px;
    padding: 0 1em;
    position: relative;
    top: 420px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: initial;
}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #16a085;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.blue label {
  background: #2980b9;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #1abc9c;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
input:checked ~ .tab-content {
  max-height: 15em;
}
/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
  content: "+";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
